<%- include('header'); -%>
<h1 class="date"></h1>
<div class="jumbotron">
    <h1 class="display-4"> <strong class="grey"><%= numcount %></strong> confirmed</h1>
    <h1 class="display-4"> <strong class="red"><%= deathcount %></strong> deaths</h1>
    <h1 class="display-4"> <strong class="green"><%= recovered %></strong> recovered</h1>
</div>





<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>